body {
    align-items: center;
    text-align: center;
}

.container {
    border-radius: 10px;
    width: 100%;
    background-color: white;
}

#buttons {
    margin-top: 20px;
}


#sobre {
    display: none;
}

#text {
    display: none;
}

#Counter {
    display: block
}

#ppt {
    display: none;
}